<a href="https://colab.research.google.com/github/Stravanni/BDM/blob/main/Lab01_SQL_no_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
from datetime import datetime, timedelta
import random
import pandas as pd

In [ ]:
import sqlite3
from datetime import datetime, timedelta
import random

# Connect to SQLite database (creates a new database if it doesn't exist)
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()

# Create tables
cursor.execute("""
CREATE TABLE CUSTOMER (
    NAME TEXT,
    CITY TEXT,
    REGION TEXT,
    COUNTRY TEXT,
    PHONE TEXT,
    PRIMARY KEY (NAME, CITY)
)
""")

cursor.execute("""
CREATE TABLE PRODUCT (
    PROD_CODE TEXT PRIMARY KEY,
    PRICE REAL,
    PROD_TYPE TEXT,
    QUANTITY INTEGER
)
""")

cursor.execute("""
CREATE TABLE PURCHASE (
    CUSTOMER_NAME TEXT,
    CUSTOMER_CITY TEXT,
    PURCHASE_DATE DATE,
    PROD_CODE TEXT NOT NULL,
    FOREIGN KEY (CUSTOMER_NAME, CUSTOMER_CITY) REFERENCES CUSTOMER(NAME, CITY),
    FOREIGN KEY (PROD_CODE) REFERENCES PRODUCT(PROD_CODE)
)
""")

# Sample data for CUSTOMER (including Italian customers)
customers = [
    ('John Doe', 'New York', 'NY', 'USA', '1234567890'),
    ('Jane Smith', 'Los Angeles', 'CA', 'USA', '2345678901'),
    ('Alice Johnson', 'Chicago', 'IL', 'USA', '3456789012'),
    ('Bob Brown', 'Houston', 'TX', 'USA', '4567890123'),
    ('Charlie Davis', 'Phoenix', 'AZ', 'USA', '5678901234'),
    ('Diana Evans', 'Philadelphia', 'PA', 'USA', '6789012345'),
    ('Edward Ford', 'San Antonio', 'TX', 'USA', '7890123456'),
    ('Fiona Gray', 'San Diego', 'CA', 'USA', '8901234567'),
    ('George Harris', 'Dallas', 'TX', 'USA', '9012345678'),
    ('Hannah Irving', 'San Jose', 'CA', 'USA', '0123456789'),
    # Italian customers
    ('Marco Rossi', 'Rome', 'Lazio', 'Italy', '3901234567'),
    ('Giulia Bianchi', 'Milan', 'Lombardy', 'Italy', '3909876543'),
    ('Luca Verdi', 'Florence', 'Tuscany', 'Italy', '3905678901'),
    ('Sofia Russo', 'Venice', 'Veneto', 'Italy', '3902345678')
]

# Insert CUSTOMER data
cursor.executemany("INSERT INTO CUSTOMER VALUES (?, ?, ?, ?, ?)", customers)

# Sample data for PRODUCT (including type A products)
products = [
    ('P001', 10.99, 'Electronics', 100),
    ('P002', 15.99, 'Books', 200),
    ('P003', 5.99, 'Groceries', 500),
    ('P004', 20.99, 'Clothing', 150),
    ('P005', 8.99, 'Home & Kitchen', 300),
    ('P006', 12.99, 'Sports', 120),
    ('P007', 6.99, 'Beauty', 250),
    ('P008', 18.99, 'Toys', 180),
    ('P009', 9.99, 'Office Supplies', 400),
    ('P010', 25.99, 'Furniture', 80),
    # Type A products
    ('A001', 30.99, 'A', 50),
    ('A002', 45.99, 'A', 75),
    ('A003', 22.99, 'A', 100)
]

# Insert PRODUCT data
cursor.executemany("INSERT INTO PRODUCT VALUES (?, ?, ?, ?)", products)

# Generate PURCHASE data
purchases = []
start_date = datetime(2023, 1, 1)
end_date = datetime(2023, 12, 31)
for _ in range(120):  # Generate 120 purchases
    customer = random.choice(customers)
    product = random.choice(products)
    purchase_date = start_date + timedelta(days=random.randint(0, (end_date - start_date).days))
    purchases.append((customer[0], customer[1], purchase_date.strftime('%Y-%m-%d'), product[0]))

# Ensure some type A products are purchased
type_a_products = [p for p in products if p[2] == 'A']
for _ in range(20):  # Add 20 purchases of type A products
    customer = random.choice(customers)
    product = random.choice(type_a_products)
    purchase_date = start_date + timedelta(days=random.randint(0, (end_date - start_date).days))
    purchases.append((customer[0], customer[1], purchase_date.strftime('%Y-%m-%d'), product[0]))

# Insert PURCHASE data
cursor.executemany("INSERT INTO PURCHASE VALUES (?, ?, ?, ?)", purchases)

# Commit the changes
conn.commit()

# Verify data insertion
print("CUSTOMER table:")
cursor.execute("SELECT * FROM CUSTOMER")
for row in cursor.fetchall():
    print(row)

print("\nPRODUCT table:")
cursor.execute("SELECT * FROM PRODUCT")
for row in cursor.fetchall():
    print(row)

print("\nPURCHASE table:")
cursor.execute("SELECT * FROM PURCHASE")
for row in cursor.fetchall():
    print(row)

# Close the connection
conn.close()

In [ ]:
# Connect to SQLite database (creates a new database if it doesn't exist)
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()

# Add new customers from Modena
modena_customers = [
    ('Renato Ferretti', 'Modena', 'Emilia-Romagna', 'Italy', '3901122334'),
    ('Stanis La Rochelle', 'Modena', 'Emilia-Romagna', 'Italy', '3904455667'),
    ('Mariano Giusti', 'Modena', 'Emilia-Romagna', 'Italy', '3907788990')
]

# Insert new Modena customers
cursor.executemany("INSERT OR IGNORE INTO CUSTOMER VALUES (?, ?, ?, ?, ?)", modena_customers)

# Get all products for random selection
cursor.execute("SELECT PROD_CODE FROM PRODUCT")
all_products = [row[0] for row in cursor.fetchall()]

# Generate purchases for Modena customers
modena_purchases = []
start_date = datetime(2023, 1, 1)
end_date = datetime(2023, 12, 31)

for customer in modena_customers:
    for _ in range(5):  # Each Modena customer makes 5 purchases
        product = random.choice(all_products)
        purchase_date = start_date + timedelta(days=random.randint(0, (end_date - start_date).days))
        modena_purchases.append((customer[0], customer[1], purchase_date.strftime('%Y-%m-%d'), product))

# Insert Modena purchases
cursor.executemany("INSERT INTO PURCHASE VALUES (?, ?, ?, ?)", modena_purchases)

# Commit the changes
conn.commit()

In [ ]:
# Connect to SQLite database
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()

# New unsold products to add
new_unsold_products = [
    ('U001', 35.99, 'Electronics', 50),
    ('U002', 19.99, 'Books', 100),
    ('U003', 7.99, 'Phone', 200)
]

# Insert new unsold products into the PRODUCT table
cursor.executemany("""
INSERT INTO PRODUCT (PROD_CODE, PRICE, PROD_TYPE, QUANTITY)
VALUES (?, ?, ?, ?)
""", new_unsold_products)

# Commit the changes
conn.commit()

In [ ]:
# Connect to SQLite database
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()

# New customers who have never made a purchase
new_non_purchasing_customers = [
    ('Duccio Patané', 'Turin', 'Piedmont', 'Italy', '3901234567'),
    ('Sergio Vannucci', 'Bologna', 'Emilia-Romagna', 'Italy', '3909876543'),
    ('Diego Lopez', 'Madrid', '', 'Spain', '3305678901'),
    ('Arianna DellArti', 'Miami', 'FL', 'USA', '3055551234'),
    ('Corinna Negri', 'Seattle', 'WA', 'USA', '2065559876')
]

# Insert new non-purchasing customers into the CUSTOMER table
cursor.executemany("""
INSERT OR IGNORE INTO CUSTOMER (NAME, CITY, REGION, COUNTRY, PHONE)
VALUES (?, ?, ?, ?, ?)
""", new_non_purchasing_customers)

# Commit the changes
conn.commit()

# Queries
## Select the customers (all the fields) with the country ‘Italy’

In [ ]:
# Connect to SQLite database (creates a new database if it doesn't exist)
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()

print("\nCustomers from Italy:")
cursor.execute("SELECT * FROM CUSTOMER WHERE COUNTRY = 'Italy'")
italian_customers = cursor.fetchall()

# print italian_customers to datafame
df = pd.DataFrame(italian_customers, columns=['Name', 'City', 'Region', 'Country', 'Phone'])

# Close the connection
conn.close()

df

## List the regions for which exist at least one customer

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()


cursor.execute('''

''')
results = cursor.fetchall()


# print results as dataframe
df = pd.DataFrame(results, columns=['Region'])


# Close the connection
conn.close()

df

## Select the customers who have made at least one purchase

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()


cursor.execute('''
SELECT DISTINCT CUSTOMER.*
FROM CUSTOMER
JOIN PURCHASE ON PURCHASE.CUSTOMER_NAME = CUSTOMER.NAME
AND PURCHASE.CUSTOMER_CITY = CUSTOMER.CITY
''')
## With Aliases:
# SELECT DISTINCT C.*
# FROM CUSTOMER C JOIN PURCHASE P
# ON P.CUSTOMER_NAME = C.NAME AND P.CUSTOMER_CITY = C.CITY

results = cursor.fetchall()

# print results as dataframe
print("\nCustomers who have made at least one purchase:")
df = pd.DataFrame(results, columns=['Name', 'City', 'Region', 'Country', 'Phone'])

# Close the connection
conn.close()

df

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()


# Select the customers who have purchased at least one product of type ‘A’
cursor.execute('''
SELECT DISTINCT CUSTOMER.*
FROM CUSTOMER
JOIN PURCHASE ON PURCHASE.CUSTOMER_NAME = CUSTOMER.NAME
AND PURCHASE.CUSTOMER_CITY = CUSTOMER.CITY
JOIN PRODUCT ON PRODUCT.PROD_CODE = PURCHASE.PROD_CODE
WHERE PRODUCT.PROD_TYPE = 'A'
''')

results = cursor.fetchall()

# print results as dataframe
print("\nCustomers who have purchased at least one product of type 'A':")
df = pd.DataFrame(results, columns=['Name', 'City', 'Region', 'Country', 'Phone'])

# Close the connection
conn.close()

df

## Select purchases made by customers of ‘Modena'

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()

# Select purchases made by customers of ‘Modena'
cursor.execute('''

''')
results = cursor.fetchall()

# print results as dataframe
print("\nPurchases made by customers of 'Modena':")
df = pd.DataFrame(results, columns=['Name', 'City', 'Region', 'Country', 'Phone'])

# Close the connection
conn.close()

df

## List purchases made by italian customers (country = ‘Italy’)

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()

# List purchases made by italian customers (country = ‘Italy’)
cursor.execute('''

''')
results = cursor.fetchall()

# print results as dataframe
print("\nPurchases made by italian customers (country = 'Italy'):")
df = pd.DataFrame(results, columns=['Customer Name', 'Customer City', 'Purchase Date', 'Product Code'])

# Close the connection
conn.close()

df

# List purchases made by italian customers (country = ‘Italy’) of products with ‘A’ type

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()

# List purchases made by italian customers (country = ‘Italy’) of products with ‘A’ type
cursor.execute('''

''')
results = cursor.fetchall()

# print results as dataframe
print("\nPurchases made by italian customers (country = 'Italy') of products with 'A' type:")
df = pd.DataFrame(results, columns=['Customer Name', 'Customer City', 'Purchase Date', 'Product Code'])

# Close the connection
conn.close()

df

In [ ]:
## List the products never sold, i.e. the products for which there are no purchases

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()

# List the products never sold, i.e. the products for which there are no purchases
cursor.execute('''

''')
results = cursor.fetchall()

# print results as dataframe

# Close the connection
conn.close()

df

## List the types of unsold products, i.e. the X types for which exists at least one product of type X which was never sold.

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()

# List the types of unsold products, i.e. the X types for which exists at least one product of type X which was never sold.
cursor.execute('''

''')
results = cursor.fetchall()

# print results as dataframe
print("\nTypes of unsold products:")
df = pd.DataFrame(results, columns=['Product Type'])

# Close the connection
conn.close()

df

## List the unsold types, i.e. the types X for which do not exist any product of type X that was sold

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()

# List the unsold types, i.e. the types X for which do not exist any product of type X that was sold
cursor.execute('''

''')
results = cursor.fetchall()

# alternative
# SELECT PROD_TYPE
# FROM PRODUCT X
# WHERE NOT EXISTS (
#     SELECT *
# 	FROM PRODUCT P, PURCHASE PR
# 	WHERE PR.PROD_CODE = P.PROD_CODE
# 	AND P.PROD_TYPE = X.PROD_TYPE)


# print results as dataframe
print("\nUnsold types:")
df = pd.DataFrame(results, columns=['Product Type'])

# Close the connection
conn.close()

df

## List the customers who have never made a purchase

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()

# List the customers who have never made a purchase
cursor.execute('''

''')
results = cursor.fetchall()

# print results as dataframe
print("\nCustomers who have never made a purchase:")
df = pd.DataFrame(results, columns=['Name', 'City', 'Region', 'Country', 'Phone'])

# Close the connection
conn.close()

df

## List the names of the customers who have never made a purchase

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()

# List the names of the customers who have never made a purchase
# WRONG:
cursor.execute('''

''')
results = cursor.fetchall()

# CORRECT:
# SELECT C.NAME
# FROM CUSTOMER C
# WHERE NOT EXISTS (
# 	SELECT *
# 	FROM PURCHASE P
#     WHERE P.CUSTOMER_NAME = C.NAME
#     AND P.CUSTOMER_CITY = C.CITY)

# print results as dataframe
print("\nCustomers who have never made a purchase:")
df = pd.DataFrame(results, columns=['Name'])

# Close the connection
conn.close()

df

## List the countries of the customers who have never made a purchase

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()


cursor.execute('''

''')
results = cursor.fetchall()

# print results as dataframe
print("\nCountries of customers who have never made a purchase:")
df = pd.DataFrame(results, columns=['Country'])

# Close the connection
conn.close()

df

## List the countries without purchases, i.e. the countries X for which any customer of the country X has never made a purchase.

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()


cursor.execute('''

''')
results = cursor.fetchall()

# print results as dataframe
print("\nCountries without purchases:")
df = pd.DataFrame(results, columns=['Country'])

# Close the connection
conn.close()

df

## List, for each customer, the total number of his purchases

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()


cursor.execute('''

''')
results = cursor.fetchall()

# print results as dataframe
print("\nTotal number of purchases for each customer:")
df = pd.DataFrame(results, columns=['Customer Name', 'Customer City', 'Number of Purchases'])

# Close the connection
conn.close()

df

## List, for every CUSTOMER_CITY, the total number of purchases of the product with code 1001

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()


cursor.execute('''

''')
results = cursor.fetchall()

# print results as dataframe
print("\nTotal number of purchases for every CUSTOMER_CITY of the product with code 1001:")
df = pd.DataFrame(results, columns=['Customer City', 'Number of Purchases'])

# Close the connection
conn.close()

df

## List, for every Country, the total number of purchases.

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()


cursor.execute('''

''')
results = cursor.fetchall()

# print results as dataframe
print("\nTotal number of purchases for every Country:")
df = pd.DataFrame(results, columns=['Country', 'Number of Purchases'])

# Close the connection
conn.close()

df

## List, for every Country, the total number of purchases, retrieving also the countries without purchases (the results should show 0 for that countries)

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()

cursor.execute('''

''')
results = cursor.fetchall()

# print results as dataframe
print("\nTotal number of purchases for every Country, including countries without purchases:")
df = pd.DataFrame(results, columns=['Country', 'Number of Purchases'])

# Close the connection
conn.close()

df

## List CUSTOMER_NAME and CUSTOMER_CITY of the customers with more than 2 purchases

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()


cursor.execute('''

''')
results = cursor.fetchall()

# print results as dataframe
print("\nCustomers with more than 2 purchases:")
df = pd.DataFrame(results, columns=['Customer Name', 'Customer City'])

# Close the connection
conn.close()

df

## List the countries with a total number of purchases (i.e. the purchases made by the customers of that country) higher than 3

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()


cursor.execute('''

''')
results = cursor.fetchall()

# print results as dataframe
print("\nCountries with a total number of purchases higher than 3:")
df = pd.DataFrame(results, columns=['Country'])

# Close the connection
conn.close()

df

## List the type of the most expensive product

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()


cursor.execute('''

''')
results = cursor.fetchall()

# print results as dataframe
print("\nType of the most expensive product:")
df = pd.DataFrame(results, columns=['Product Type'])

# Close the connection
conn.close()

df

## List, for every product type, the quantity of the most expensive product

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()


cursor.execute('''

''')
results = cursor.fetchall()

# print results as dataframe
print("\nQuantity of the most expensive product for every product type:")
df = pd.DataFrame(results, columns=['Product Type', 'Quantity'])

# Close the connection
conn.close()

df

## List, for every PURCHASE_DATE, the customer (name and city) who purchased the most expensive product

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()


cursor.execute('''

''')
results = cursor.fetchall()

# print results as dataframe
print("\nCustomer (name and city) who purchased the most expensive product for every PURCHASE_DATE:")
df = pd.DataFrame(results, columns=['Purchase Date', 'Customer Name', 'Customer City'])

# Close the connection
conn.close()

df

# CTE
Definition: A Common Table Expression (**CTE**) is a temporary result set that can be referenced within a SELECT, INSERT, UPDATE, or DELETE statement. It simplifies complex queries by breaking them into smaller, manageable parts. CTEs are particularly useful for improving readability, managing recursive queries, and organizing subqueries in a structured manner.

Structure: A CTE is defined using the WITH keyword, followed by the CTE name and a query that returns a result set. It can then be referenced within the main query.

Syntax:
```
WITH cte_name AS (
    -- SQL Query
)
SELECT * FROM cte_name;
```

## Write a CTE to list the total number of purchases made by each customer in Italy.

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()


query = '''
WITH Italian_Customers AS (
    -- complete here
)
SELECT IC.NAME, COUNT(P.PURCHASE_DATE) AS total_purchases
FROM Italian_Customers IC
JOIN PURCHASE P
ON IC.NAME = P.CUSTOMER_NAME AND IC.CITY = P.CUSTOMER_CITY
GROUP BY IC.NAME;
'''

# Execute the query
cursor.execute(query)

results = cursor.fetchall()

# print results as dataframe
print("\nTotal number of purchases made by each customer in Italy:")
df = pd.DataFrame(results, columns=['Customer Name', 'Total Purchases'])

# Close the connection
conn.close()

df

In [ ]:
conn = sqlite3.connect('sample_db.sqlite')
cursor = conn.cursor()


cursor.execute('''

)
''')
results = cursor.fetchall()

# print results as dataframe


# Close the connection
conn.close()

df